@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
  src: url(./assets/font/GildaDisplay-Regular.ttf) format('ttf');
}

@font-face {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(./assets/font/BarlowCondensed-Medium.ttf) format('ttf');
}

@font-face {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(./assets/font/Barlow-Medium.ttf) format('ttf');
}

@font-face {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url(./assets/font/Rubik-Medium.ttf) format('ttf');
}

@font-face {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
  src: url(./assets/font/IslandMoments-Regular.ttf) format('ttf');
}

@font-face {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url(./assets/font/PlayfairDisplay-Medium.ttf) format('ttf');
}

.swiper-pagination-bullet {
  @apply w-3 h-3 border-2 border-white;
}

.swiper-pagination-bullet-active {
  @apply bg-coklat border-coklat;
}

@layer utilities {
  .btn::before {
    content: "";
    @apply absolute left-0 top-0 w-full h-full bg-black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
  }

  .btn:hover::before {
    transform: translateX(0);
  }
}